* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: blueviolet;
  align-items: center;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 10px;
}

.form {
  margin: 20px 30px;
  padding: 36px;
}

.inputs {
  display: flex;
  justify-content: space-around;
  gap: 10%;
  margin: 0 auto;
  width: 70%;
}

input {
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  border: gray solid 1px;
  margin: 20px 0;
}

button {
  background-color: blueviolet;
  width: 62%;
  padding: 10px;
  color: white;
  border-radius: 6px;
  border: gray solid 1px;
  cursor: pointer;
  position: relative;
  top: 25%;
}

.submit {
  display: flex;
  justify-content: center;
}

.submit img {
  position: relative;
  top: 4px;
}

.main-image {
  width: 50%;
  display: block;
  margin: 0 auto;
  position: relative;
}

.meme {
  margin: 30px 150px;
  display: block;
}

.meme h2 {
  position: relative;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  z-index: 1;
  margin: 0 20px;
  font-size: 15pt;
}

.meme-text-top {
  top: 85px;
  text-align: center;
}

.meme-text-bottom {
  bottom: 85px;
  text-align: center;
}
